body
{
    background-color: greenyellow;
}

#score 
{
    font-size: 25px;
    margin-left: 80px;
    float: left;
}

#timer
{
    font-size: 25px;
    float: right;
    margin-right: 80px;
}

#sketch_to_be_drawn
{
    color: red;
    font-size: 25px;
}

.btn-info
{
    float: right;
}

h1 
{
    background-color: honeydew;
}